@page
@model TCGCollectionApp.Pages.Cards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<script src="~/js/Cards/Index.js"></script>

<h1>Index Cards</h1>

<select id="SetSelector">
    @foreach (TCGCollectionApp.Models.MTGSet c in Model.Sets) {
        <option value="@c.Code">@c.Name</option>
    }
</select>

<table>
    <thead>
        <tr>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>